<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Delete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<br><br><br><br>
<div class="container">
    <div class="row">
        <form th:object="${studentId}" th:action="@{/student/delete/{id}(id = *{id})}"
              th:method="post">
            <div class="card mx-auto" style="width: 30rem; height: 25rem">
                <div class="card-body" th:each="student,iter : ${studentId}">
                    <h2 class="card-title" style="text-align: center">Student Details</h2>
                    <h5 class="card-title">First name : <span th:text="*{firstname}"></span></h5>
                    <h5 class="card-title">Last name : <span th:text="*{lastname}"></span></h5>
                    <h5 class="card-title">Address : <span th:text="*{address}"></span></h5>
                    <h5 class="card-title">Course : <span th:text="*{course}"></span></h5>
                    <h5 class="card-title">Faculty : <span th:text="*{faculty}"></span></h5>
                    <h5 class="card-title">Group : <span th:text="*{groupNumber}"></span>
                        <h4 style="text-align: center">Are you sure ? </h4>
                    </h5>
                    <div style="margin-left: 300px;">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a th:href="@{/student/list}" class="btn btn-warning">No</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>